body {
    background: #050510;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #22d3ee;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    background: #0f172a;
    border: 1px solid #22d3ee;
    color: white;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.product-card {
    background: linear-gradient(145deg,#020617,#020617);
    border: 1px solid #22d3ee55;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 20px #22d3ee33;
    transition: transform .3s;
}

    .product-card:hover {
        transform: translateY(-6px);
    }

    .product-card img {
        width: 100%;
        border-radius: 10px;
    }

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    background: #22d3ee;
    border: none;
    padding: 8px 12px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.buy-btn {
    background: #a855f7;
    color: white;
}

.loader {
    width: 60px;
    height: 60px;
    border: 5px solid #22d3ee44;
    border-top: 5px solid #22d3ee;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 40px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
