body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial;
  padding: 20px;
  margin: 0;
}

.back {
  color: #22d3ee;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 20px;
}

.product-box {
  max-width: 700px;
  margin: auto;
  background: #020617;
  border: 1px solid #22d3ee55;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 30px #22d3ee33;
}

.product-box img {
  width: 100%;
  border-radius: 12px;
}

.product-box h1 {
  margin-top: 15px;
}

.buy-now {
  background: linear-gradient(90deg,#22d3ee,#a855f7);
  border: none;
  padding: 12px 18px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  border-radius: 8px;
  color: white;
}
